.form {
  width: 500px;
  margin: auto;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}

.type,
.amount,
.description {
  display: flex;
  margin-bottom: 10px;
}

.type select,
.amount input,
.description textarea {
  width: 65%;
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
}

.type label,
.amount label,
.description label {
  width: 35%;
}

.description textarea {
  height: 80px;
}

.button {
  text-align: center;
  margin-top: 30px;
}

.button button {
  width: 30%;
  padding: 5px 0 5px 0;
  font-size: 18px;
}

.button button:active {
  transform: scale(0.95);
}

.items {
  width: 650px;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px 10px 20px 0;
}

.items .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title span {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.title a {
  flex-basis: 20%;
  text-align: center;
}

.title .titletype,
.title .titleamount {
  flex-basis: 20%;
}

.title .titledescription {
  flex-basis: 40%;
}

.total {
  margin: auto;
  width: fit-content;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  background-color: black;
  color: orange;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
}

.activate {
  text-align: center;
  margin-top: 20px;
  box-sizing: border-box;
}

.activate button {
  padding: 8px 20px 8px 20px;
  font-size: 18px;
  margin-right: 20px;
}